 @charset "UTF-8";
 /* CSS Document */

 @font-face {
 	font-family: CustomFont1;
 	src: url(fonts/Roboto-Regular.ttf);
 	font-weight: normal;
 }

 body {
	height:100%;
	margin: 0;
	padding: 0;
	border-style: none;
	background-color: #0C0C0C;
	line-height: normal;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	font-variant: normal;
	text-decoration: none;
	color: #444; /* txt_color */
	font-family: 'CustomFont1', sans-serif;
	letter-spacing:.2px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'CustomFont1', sans-serif;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	line-height: 18px;
}
h1 { font-size: 32px; font-weight: 700; color: #444; }
h2 { font-size: 24px; font-weight: 400; color: #444; }
h3 { font-size: 19px; font-weight: 700; color: #555; }
h4 { font-size: 16px; font-weight: 400; color: #444; }
h5 { font-size: 14px; font-weight: 400; color: #777; }
h6 { font-size: 13px; font-weight: 400; color: #777; }
p { font-size: 13px; font-weight: 400; color: #777; }
